.header {
  position: relative;
  width: 7.5rem;
}

.header p {
  color: white;
  font-size: 0.62rem;
  font-weight: bold;
  text-shadow: 0.1rem -0.01rem 0.1rem black;
}

.header .title1 {
  position: absolute;
  top: 4.36rem;
  left: 0.85rem;
}

.header .title2 {
  position: absolute;
  top: 5.22rem;
  left: 0.85rem;
}

.header .title2 span:first-child {
  color: #50ffc8;
}
