.obj{
    position: relative;
    .objIMg1{
        height:1.74rem;
    }
    .obj2Div{
        position: absolute;
        // top:10.5rem;
        img{
            width:3rem;
            margin:0.35rem;
        }
    }
    .objImg2{
        height:2.47rem;
    }
    .obj2Div{
        position: absolute;
        top:6.5rem;
    }
    p{
        position: absolute;
        font-size:0.44rem;
        font-weight: bold;
    }
    .objP1{
        top:0.95rem;
        left:1.8rem;
    }
    .objP2{
        top:1.65rem;
        left:3rem;
    }
    .obj3{
       font-size:0.25rem; 
       position: absolute;
    }
    .obj31{
        top:3.7rem;
        left:1.1rem;
    }
    .obj32{
        top:3.7rem;
        left:3.5rem;
    }
    .obj33{
        top:3.7rem;
        left:5.9rem;
    }
    .obj34{
        top:5.2rem;
        left:0.96rem;
    }
    .obj35{
        top:5.2rem;
        left:3.1rem;
    }
    .obj36{
        top:5.2rem;
        left:5.4rem;
    }
    .obj37{
        top:5.6rem;
        left:0.76rem;
    }
      

}