.rel{
    position: relative;
    text-align: center;
   .relIMg1{
        height:1.41rem;
    }
   .relImg2{
        height:2.38rem;
    }
    .ice2Div{
        position: absolute;
        top:10.5rem;
        img{
            width:3rem;
            margin:0.35rem;
        }
    }
    p{
        position: absolute;
        font-size:0.44rem;
    }
    // 文本样式
    .rel1{
        top:0.85rem;
        left:1.3rem;
    }
    .rel2{
        top:1.45rem;
        left:2rem;
    }
    .relP{
        font-size:0.27rem;
        position: absolute;
        left:1.6rem;
        text-align: left;
       
    }
    .relP1{
        top:3.6rem;
    }
    .relP2{
        top:5rem;
    }
    .relP3{
        top:6.4rem;
    }
    .relP4{
        top:7.5rem;
        width:2.5rem;
        line-height: 135%;

    }
    .relP5{
        top:8.95rem;
        width:3.3rem;
        line-height: 135%;
    }


}